@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Crimson+Text&display=swap&family=Playfair+Display&display=swap&family=Tilt+Prism&display=swap&family=Noto+Serif+Display:ital@1&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
  scroll-behavior: smooth;
}

body{
  min-width: 400px;
}

#ScrollStyle{
::-webkit-scrollbar{
  width:1rem;
}
::-webkit-scrollbar-track{
  background: #F1D4E5;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb{
  background:#105d5f73;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
  background:#105c5fa7;
}}



#ScrollCartStyle{
  ::-webkit-scrollbar{
    width:0.3rem;
  }
  ::-webkit-scrollbar-track{
    background: #F1D4E5;
    border-radius: 100vw;
  }
  
  ::-webkit-scrollbar-thumb{
    background:#105d5f73;
    border-radius: 100vw;
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background:#105c5fa7;
  }}

/* for the product list image: */
  .hover:hover{
  opacity: 0.5;
  }